@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYREGULAR.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYMEDIUM.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYBOLD.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYTHINITALIC.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYHEAVYITALIC.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYBLACKITALIC.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SFPRODISPLAYLIGHTITALIC.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
